*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #f4f4f4;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}


.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif ;
    color: blue;
    font-weight: 400;
    font-size: 18px;
    border: 0.6px solid white;
    border-radius: 10px;
    padding: 8px;
}

#principal{
    width: 920px;
    
}

#link{
    align-items: center;
}

.noticia{
    background: #e5e5e5;
    padding: 5px;
    width: 280px;
    margin: 7px;
    float: left;
}

.imagem-galeria{
    background: white;
    width: 265px;
    padding: 5px;
    float: left;
    margin: 15p x;
}

.clear{
    clear: both;
}


